* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  transition: all 0.5s;
}
body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 226px;
}

@import "headerFooter";
@import "tienda";
@import "producto";
