@import "variables";
@import "popUpWhatsApp";
@import "inicio";
@import "nosotros";
@import "cannabis-medicinal";
@import "lineaProductos";
@import "medias";







*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p, h1, h2, h3, h4, h5, h6{
    margin: 0!important;
}
button, a{
    all: unset;
    cursor: pointer;
}

body{
    font-family: 'Poppins', sans-serif;
    p{
        color: $verdeOscuro;
        font-size: 15px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.005em;
        font-weight: 400;
        }
        max-width: 2000px;
        margin: 0 auto;
}